<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quote</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToSettings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="quote-container">
    <p class="quote-text">"{{ randomQuote.text }}"</p>
    <p class="quote-author">- {{ randomQuote.author }}</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="navigateToManageQuotes()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
